@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

/*-----------General Styling-----------*/

body {
    font-family: "roboto", sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
}

h1,
h2,
h3,
h4 {
    font-family: "Lato", sans-serif;
    text-align: center;
    color: #fafafa;
}

.uppercase {
    text-transform: uppercase;
}

hr {
    width: 300px;
    background-color: #dc3345;
    height: 3px;
}

/*-----------Header for all-----------*/

.navbar {
    background-color: #0f0707;
    border: 0;
    font-family: "roboto", sans-serif;
    padding: 20px;
    width: 100%;
    display: flex;
}

.navbar-title {
    color: #fafafa;
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none!important;
}

.navbar a i {
    color: #dc3345;
    font-size: 2rem;
}

.navbar a {
    color: #fafafa;
}

.nav-item :hover {
    color: #dc3345;
}

.btn-bg {
    color: #fafafa;
    background-color: #dc3345;
    margin-left: 10px;
    vertical-align: middle;
}

.container-fluid {
    padding: 0;
}

/*-----------Index.html Section-----------*/

.hero-img {
    background: url(../images/man-woman1.jpg);
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.insp-quote {
    color: #dc3345;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-top: 100px;
    text-shadow: 1px 1px #fafafa;
    max-width: 50%;
    margin: 0 auto;
}

.about-us {
    text-align: center;
    color: #fafafa;
    background-color: #384144;
    margin: 0;
    padding: 3rem 0 5rem 0;
}

.about-us-facilities {
    display: inline-block;
    width: 40%;
    padding: 1rem;
    letter-spacing: 1px;
    margin: 3rem;
    border: 1px solid #dc3345;
    background-color: #0f0707;
    border-radius: 1rem;
    height: 300px;
}

.about-us-facilities ul li {
    padding: 0;
}

/*List text was starting in center and not beside bullet points*/
.about-us-facilities li {
    text-align: left;
}

.about-us-who {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    padding: 1rem;
    letter-spacing: 1px;
    margin: 3rem;
    border: 1px solid #dc3345;
    background-color: #0f0707;
    border-radius: 1rem;
    height: 300px;
}

.about-us-who h3,
.about-us-facilities h3 {
    padding-bottom: 15px;
}

.about-us-who i,
.about-us-facilities i {
    color: #dc3345;
}

/*-----------Footer for all-----------*/

.footer {
    width: 100%;
    height: 200px;
    background-color: #0f0707;
    color: #fafafa;
}

.footer-divs {
    display: inline-block;
    width: 33%;
    text-align: center;
    vertical-align: -webkit-baseline-middle;
}

.footer-contact {
    padding-top: 20px;
}

.footer-times {
    vertical-align: inherit;
}

/* Social links transition taken from Rosie project CI*/

.social-links li a i {
    font-size: 2rem;
    text-align: center;
    color: #dc3345;
    border-radius: 20%;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #fafafa;
}

.copyright p {
    text-align: center;
    margin: 0;
    color: #fafafa;
    background-color: #384144;
}

/*-----------Classes.html-----------*/

.timetable {
    padding-top: 50px;
    background-color: #384144;
}

.table {
    color: #fafafa;
    width: 80%;
    margin: 50px auto 0 auto;
}

.table th, .table td {
    border: 1px solid #dc3345;
}

.table thead th {
    border-bottom: 0; 
}

.timetable h2 {
    color: #fafafa;
    text-align: center;
    padding: 15px 0 0 0;
}

.mobile-table {
    background-color: #384144;
    padding-top: 50px;
}

.mobiletable h2 {
    color: #fafafa;
    text-align: center;
    padding: 15px 0 0 0;
}

.membership {
    background-color: #384144;
    padding: 100px 0;
}

.prices {
    display: block;
    color: #fafafa;
    background-color: #0f0707;
    width: 33%;
    text-align: start;
    list-style-position: inside;
    margin: 20px auto 20px auto;
    border: 1px solid #dc3345;
    border-radius: 1rem;
}

.prices ul li {
    padding: 0;
}

.prices h3 {
    padding: 10px;
}

/*-----------Gallery.html-----------*/

.gallery-heading {
    background-color: #0f0707;
    padding: 50px 0;
}

.gallery-heading hr {
    margin-bottom: 0;
}

.carousel-inner {
    width: auto;
    margin: 0 auto 0 auto;
}

.carousel {
    background-color: #0f0707;
}

.h-100 {
    height: 100vh!important;
}

.carousel-bg-color {
    background-color: #0f0707;
    padding-bottom: 100px;
}

/*-----------Contact.html-----------*/

.contact {
    background-color: #384144;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #384144;
}

.form-group {
    max-width: 90%;
    margin: 0 auto;
    color: #0f0707;
    padding: 20px;
    font-weight: 600;
}

.submit-btn {
    margin: 0 auto;
    display: block;
    background-color: #dc3345;
    color: #fafafa;
    width: 150px;
}

.form-control {
    border: 1px solid #dc3345;
}

.form-msg {
    padding-bottom: 50px;
}

/*-----------Modal-----------*/

.modal-content {
    height: 500px;
    max-width: 80%;
    margin: 0 auto;
    background-color: #adb5bd;
    border: 1px solid #dc3345;
}

.modal-header {
    border: 0;
}

.modal-title {
    margin: 0 auto;
    font-size: 2rem;
}

.modal-header .close {
    margin: 0;
    padding: 0;
}

.log-in-icon{
    text-align: center;
    font-size: 4rem;
    color: #dc3345;
}

.modal-body {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    font-weight: 600;
    padding-top: 10px;
    border: 0;
}

.modal-footer {
    margin: 0 auto;
    padding-bottom: 50px;
    border: 0;
}

.modal-login-btn {
    background-color: #dc3345;
}

.modal-form {
    margin: 30px auto;
    max-width: 70%;
    text-align: center;
    border: 1px solid;
}

/*-----------Media queries-----------*/

@media(max-width:1024px) {
     .hero-img {
        background-position: left;
    }

    .about-us-who,
    .about-us-facilities {
        display: inline-block;
        width: 40%;
        padding: 20px 10px;
        margin: 3rem 1rem;
        height: 430px;
}
    
     .footer {
        height: 100%;
    }

    .footer-divs {
        display: inline-block;
        width: 30%;
        text-align: center;
        height: 100%;
        padding: 10px;
        margin: 0;
        border: 0;
        box-sizing: content-box;
    }

    .carousel img {
        object-fit: cover;
    }

    #student-price {
        display: block;
        color: #fafafa;
        background-color: #0f0707;
        width: 70%;
        padding: 20px;
        text-align: start;
        list-style-position: inside;
        margin: 20px auto;
    }

    #adult-price {
        display: block;
        color: #fafafa;
        background-color: #0f0707;
        width: 70%;
        padding: 20px;
        text-align: start;
        list-style-position: inside;
        margin: 20px auto;
    }

    #couple-price {
        display: block;
        color: #fafafa;
        background-color: #0f0707;
        width: 70%;
        padding: 20px;
        text-align: start;
        list-style-position: inside;
        margin: 20px auto;
    } 
}

@media(max-width:600px) {
    .insp-quote {
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 1px;
        padding-top: 50px;
    }

    .hero-img {
        background-position: left;
    }

    .about-us-who,
    .about-us-facilities {
        display: block;
        width: 80%;
        padding: 20px 10px;
        margin: 3rem auto;
        height: auto;
    }

    hr {
        width: 200px;
    }
    
    .footer {
        height: 100%;
        margin: 0;
        padding: 20px;
    }

    .footer-divs {
        display: block;
        width: 100%;
        text-align: center;
        height: 100%;
    }

    .carousel img {
        object-fit: cover;
    }

    .copyright p {
        text-align: center;
        padding: 0;
    }

    #student-price {
        display: block;
        color: #fafafa;
        background-color: #0f0707;
        width: 90%;
        padding: 20px;
        text-align: start;
        list-style-position: inside;
        margin: 50px auto 20px auto;
    }

    #adult-price {
        display: block;
        color: #fafafa;
        background-color: #0f0707;
        width: 90%;
        padding: 20px;
        text-align: start;
        list-style-position: inside;
        margin: 20px auto;
    }

    #couple-price {
        display: block;
        color: #fafafa;
        background-color: #0f0707;
        width: 90%;
        padding: 20px;
        text-align: start;
        list-style-position: inside;
        margin: 20px auto 0 auto;
    }

    .timetable {
        display: none;
    }

    .modal-content {
        max-height: 400px;
    }

    .modal-header {
        padding: 5px;
    }

    .modal-body {
        padding: 0;
        max-height: 150px;
        width: 100%;
    }

    .modal-body p {
        padding: 5px;
    }

    .modal-form {
        width: 100%;
        margin: 2px auto;
        border: 1px solid;
        display: block;
    }

    .modal-footer {
        margin-top: 25px;
    }
}

@media(min-width:600px) {
    .mobile-table {
        display: none;
    }

    .contact-center {
        max-width: 50%;
        margin: 0 auto;
    }
}

@media(min-width:2200px) {
    body {
        font-size: 4rem;
    }

    h1,
    h2,
    h3,
    h4 {
        font-size: 7rem;
    }

    .footer {
        height: fit-content;
    }

    .navbar-title {
        font-size: 5rem;
    }

    .navbar a i {
        font-size: 5rem;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .btn-bg {
        font-size: 4rem;
    }

    .insp-quote {
        font-size: 8rem;
        text-shadow: 5px 5px #fafafa;
    }

    .about-us-who,
    .about-us-facilities {
        height: 1200px;
        padding: 100px;
    }

    .prices {
        margin: 100px auto 100px auto;
    }

    .timetable {
        padding-top: 100px;
    }

    .table {
        margin: 150px auto 0 auto;
        width: 70%;
    }

    .membership {
        padding-top: 150px;
    }

    .gallery-heading {
        padding: 200px;
    }

    .form-group {
        padding: 80px;
        max-width: 50%;
    }

    .form-control {
        height: calc(4rem + 1rem + 1px);
        padding: .375rem .75rem;
        font-size: 3rem;
        line-height: 2;
    }

    .contact {
        padding: 150px 0 150px 0;
    }

    .social-links li a i {
    font-size: 7rem;
    }

    hr {
        width: 600px;
    }

    .modal-title {
        font-size: 5rem;
    }

    .modal-content {
        height: fit-content;
    }

    .modal-form {
        display: block;
    }

    button.close {
        font-size: 4rem;
    }

    .modal-login-btn,
    .btn-secondary {
        font-size: 3rem;
    }

    .log-in-icon {
        font-size: 7rem;
    }

    .modal-lg, .modal-xl {
        max-width: 50%;
    }

    .carousel-bg-color {
        padding-bottom: 300px;
    }
}
