@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*-----------Colors-----------*/

/*-----------General Styling-----------*/

body {
    font-family: "roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

h1,
h2,
h3,
h4 {
    font-family: "Lato", sans-serif;
    text-align: center;
    color: #fafafa;
}


/*-----------Header-----------*/

.navbar {
    background-color: #0f0707;
    border: 0;
    font-family: "roboto", sans-serif;
    padding: 20px;
    width: 100%;
}

.navbar-title {
    color: #fafafa;
    font-family: "Lato", sans-serif;
    font-size: 32px;
    font-weight: 500;
    text-decoration: none!important;
}

.navbar a i {
    color: #dc3345;
    font-size: 32px;
}

.navbar a {
    color: #fafafa;
}

.nav-item :hover {
    color: #dc3345;
}


.btn-bg {
    color: #fafafa;
    background-color: #dc3345;
    margin-left: 10px;
    vertical-align: middle;
}

.container-fluid {
    padding: 0;
}

/*-----------Section-----------*/

.hero-img {
    background: url(../images/man-woman1.jpg);
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.insp-quote {
    color: #dc3345;
    font-size: 48px;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 50px;
}

.about-us {
    text-align: center;
    color: #fafafa;
    background-color: #384144;
    margin: 0;
    padding: 3rem 0 5rem 0;
}


hr {
    width: 300px;
    background-color: #dc3345;
    height: 3px;
}

.about-us-facilities {
    display: inline-block;
    width: 40%;
    padding-top: 20px;
    padding-left: 50px;
    letter-spacing: 1px;
    margin: 0;
    border: 1px solid #dc3345;
    background-color: #0f0707;
    border-radius: 1rem;
    height: 300px;
}

/*List text was starting in center and not beside bullet points*/
.about-us-facilities li {
    text-align: justify;
}

.about-us-who {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    padding-top: 20px;
    padding-right: 50px;
    letter-spacing: 1px;
    margin: 0;
    border: 1px solid #dc3345;
    background-color: #0f0707;
    border-radius: 1rem;
    height: 300px;
}

.about-us-who h3,
.about-us-facilities h3 {
    padding-bottom: 15px;
}
/*-----------Footer-----------*/

.footer {
    width: 100%;
    height: 200px;
    background-color: #0f0707;
    color: #fafafa;
}

.footer-divs {
    display: inline-block;
    width: 33%;
    text-align: center;
    vertical-align: -webkit-baseline-middle;
}

.footer-contact {
    padding-top: 20px;
}

.footer-times {
    vertical-align: inherit;
}

/* Social links transition taken from Rosie project CI*/

.social-links li a i {
    font-size: 32px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #dc3345;
}

/*-----------Media queries-----------*/

@media(max-width:992px) {
     .hero-img {
        background-position: left;
    }
    
     .footer {
        height: 100%;
    }

    .footer-divs {
    display: inline-block;
    width: 30%;
    text-align: center;
    height: 100%;
    padding: 10px;
    margin: 0;
    border: 0;
    box-sizing: content-box;
    }


    #student-price {
        display: block;
        color: #fafafa;
        background-color: #0f0707;
        width: 70%;
        padding: 20px;
        text-align: start;
        list-style-position: inside;
        margin: 5px auto;
    }

    #adult-price {
        display: block;
        color: #fafafa;
        background-color: #0f0707;
        width: 70%;
        padding: 20px;
        text-align: start;
        list-style-position: inside;
        margin: 5px auto;
    }

    #couple-price {
        display: block;
        color: #fafafa;
        background-color: #0f0707;
        width: 70%;
        padding: 20px;
        text-align: start;
        list-style-position: inside;
        margin: 5px auto 0 auto;
    }


}

@media(max-width:600px) {
    .insp-quote {
        font-size: 32px;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .hero-img {
        background-position: left;
    }

    .about-us-who,
    .about-us-facilities {
        display: block;
        width: 80%;
        padding: 20px 10px;
        margin: 3rem auto;
        height: auto;

    }

    hr {
        width: 200px;
    }
    
    .footer {
        height: 100%;
        margin: 0;
    }

    .footer-divs {
        display: block;
        width: 100%;
        text-align: center;
        height: 100%;
    }

    #student-price {
        display: block;
        color: #fafafa;
        background-color: #0f0707;
        width: 70%;
        padding: 20px;
        text-align: start;
        list-style-position: inside;
        margin: 5px auto;
    }

    #adult-price {
        display: block;
        color: #fafafa;
        background-color: #0f0707;
        width: 70%;
        padding: 20px;
        text-align: start;
        list-style-position: inside;
        margin: 5px auto;
    }

    #couple-price {
        display: block;
        color: #fafafa;
        background-color: #0f0707;
        width: 70%;
        padding: 20px;
        text-align: start;
        list-style-position: inside;
        margin: 5px auto 0 auto;
    }

}

/*-----------Classes.html-----------*/

.table {
    color: #fafafa;
    width: 80%;
    margin: 0 auto 0 auto;
}

.table th, .table td {
    border: 1px solid #dc3345;
}

.table thead th {
    border-bottom: 0; 
}

.timetable {
    background-color: #384144;
}

.timetable h2 {
    color: #fafafa;
    text-align: center;
    padding: 15px 0 0 0;
}

.membership {
    background-color: #384144;
    padding-top: 30px;
}

.prices {
    display: inline-block;
    color: #fafafa;
    background-color: #0f0707;
    width: 33%;
    text-align: center;
    list-style-position: inside;
    margin: 20px auto 20px auto;
    border: 1px solid #dc3345;
    border-radius: 1rem;
}

/*-----------Gallery.html-----------*/

.gallery-heading {
    background-color: #0f0707;
    padding: 30px 0 50px 0;
}

.gallery-heading hr {
    margin-bottom: 0;
}

.carousel-inner {
    width: 80%;
    margin: 0 auto 0 auto;
}

.carousel {
    background-color: #0f0707;
}

